.checkout-cont {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 6px;
  border: solid 2px black;
}

.checkout-cont__title {
  font-size: 18px;
  margin: 6px 0;
  cursor: pointer;
}


.checkout__list li {
  padding: 6px 0;
}