.game-container {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}

.game-container > div {
  padding: 25px;
}

.game__stats-cont {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}

.game-stats-container h3 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  margin: 16px 0;
}