.stats-object-cont__title {
  width: 130px;
  font-weight: 900;
  margin-bottom: 8px;
}

.stats-object-cont__data-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  margin:auto;
  width: 130px;
  padding: 8px 0;
  border-bottom: solid black 1px;
}