.stats__stats-cont__player-match-stats {
  min-width: 250px;
}

.statscont__player-name {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 16px;
}

.stats__objects-stats-cont__stats-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  text-align: center;
}

.stats__objects-stats-cont__player-match-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  margin: auto;
}

.stats__objects-stats-cont__player-match-stats > * {
  margin: 0 10px;
}