.modal__background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.76);
}

.modal {
  background-color: white;
  width: 400px;
  text-align: center;
  border: solid 4px rgb(14, 14, 14);
}

.modal__header {
  background-color: var(--dark-green);
  font-size: 18px;
  font-weight: 900;
  padding: 18px;
}

.modal__header * {
  color: var(--white);
}

.modal__content {
  padding: 18px;
}

.modal__content-text-input-inline-cont * {
  margin: 0 6px
}

.modal__content-text-input-inline-cont input {
  padding: 4px;
  border: solid 2px black;
}

.modal__footer {
  padding: 18px;
}

.modal__footer * {
  margin: 6px;
}

.modal-btn {
  background-color: var(--dark-green);
  color: var(--white);
  border: solid 2px black;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.modal__game-infos-text {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
  color: red;
}

.modal__game-infos-text p {
  margin-bottom: 12px;
  line-height: 18px;
}

/* Graph */

.modal-graph-cont {
  width: 800px !important;
}

.modal__content .recharts-wrapper {
  margin: auto;
}