@import './resetCSSDefault.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
@import './cssVariables.css';

body {
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.display-none {
  display: none;
}

main {
  min-height: 100vh;
}

.isHidden {
  display: none;
}